body {
  font: 400 16px 'Lato', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4; /* Fundo suave */
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #222;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  line-height: 1.5em;
  color: #444;
  font-weight: 400;
  margin-bottom: 20px;
}

.jumbotron {
  background-color: #098104;
  color: #fff;
  padding: 80px 30px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  text-align: center; /* Centraliza o texto */
}

.componente-seguinte {
  margin-top: 250px; /* Ajuste conforme necessário */
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #098104;
  font-size: 60px; /* Aumentado para melhor visibilidade */
}

.logo {
  color: #098104;
  font-size: 220px; /* Aumentado para melhor visibilidade */
}

.thumbnail {
  padding: 0;
  border: none;
  border-radius: 8px; /* Arredondar os cantos */
  overflow: hidden; /* Oculta as bordas */
}

.thumbnail img {
  width: 100%;
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #098104;
}

.carousel-indicators li {
  border-color: #098104;
}

.carousel-indicators li.active {
  background-color: #098104;
}

.item h4 {
  font-size: 20px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 50px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #098104;
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.panel:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Levanta o painel ao passar o mouse */
}

.panel-footer .btn:hover {
  border: 1px solid #098104;
  background-color: #fff !important;
  color: #098104;
}

.panel-heading {
  color: #fff !important;
  background-color: #098104 !important;
  padding: 20px;
  border-radius: 8px 8px 0 0; /* Arredonda os cantos superiores */
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 30px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 10px 0;
  background-color: #098104;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #098104;
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  line-height: 1.5 !important;
  letter-spacing: 2px;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #098104 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #098104;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.logo-description {
  font-size: 16px;
  margin-top: 0;
  margin-left: 10px; /* Ajuste conforme necessário */
}

.justify-list {
  list-style-type: disc; /* ou o tipo de marcador que desejar */
}

.justify-list li {
  text-align: justify;
}

.carousel-indicators {
  bottom: -20px; /* Distância da parte inferior */
}

.container-photo {
  margin-top: 150px;
  margin-left: 10px; /* Ajuste conforme necessário */
}
